﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>   
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Game of Life | Assignment 2", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })                                  
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("All Templates", "Templates", "UserTemplate")</li>
                    <li>@Html.ActionLink("My Active Games", "MyActiveGames", "UserGame")</li> 
                    @if (Session["User"] != null)
                    {
                        <li>@Html.ActionLink("My Templates", "MyTemplates", "UserTemplate", routeValues: null, htmlAttributes: new { @class = "nav navbar-nav" })</li>
                        <li>@Html.ActionLink("My Saved Games", "MySavedGames", "UserGame", routeValues: null, htmlAttributes: new { @class = "nav navbar-nav" })</li>
                    }                   
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["User"] == null)
                    {
                        <li>@Html.ActionLink("Register", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Login", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    }
                    else
                    {  
                        <li>@Html.ActionLink("Logout", "Logout", "User", routeValues: null, htmlAttributes: new { id = "logoutLink" })</li>
                    }
                </ul> 
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year | My Game of Life | Assignment 2</p>
        </footer>
    </div>
</body>
</html>
