﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Game of Life</h1>
    <h2>by John Horton Conway</h2>
    <p class="lead">
        The "game" is a zero-player game, meaning that its evolution is determined
        by its initial state, requiring no further input. One interacts with the
        Game of Life by creating an initial configuration and observing how it evolves,
        or, for advanced "players", by creating patterns with particular properties.
    </p>
    <p><a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank">Wikipedia | Conway's Game of Life</a></p>
    <p><a href="/UserTemplate/Templates" class="btn btn-primary btn-lg">All Templates &raquo;</a></p>
    <p><a href="/UserGame/CreateActiveGameStep1" class="btn btn-primary btn-lg">Create Active Game &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Game Rules</h2>
        <p>
            The universe of the Game of Life is an infinite two-dimensional orthogonal grid of square cells,
            each of which is in one of two possible states, alive or dead, or "populated" or "unpopulated"
            (the difference may seem minor, except when viewing it as an early model of human/urban behavior
            simulation or how one views a blank space on a grid). Every cell interacts with its eight
            neighbours, which are the cells that are horizontally, vertically, or diagonally adjacent.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Game Tick Transition</h2>
        <ol>
            <li>Any live cell with fewer than two live neighbours dies, as if caused by under-population.</li>
            <li>Any live cell with two or three live neighbours lives on to the next generation.</li>
            <li>Any live cell with more than three live neighbours dies, as if by over-population.</li>
            <li>Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.</li>
        </ol>
    </div>
</div>
