﻿@model IEnumerable<GameOfLife.Models.Database.UserTemplate>

@{
    ViewBag.Title = "My Templates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Templates</h2>
@Html.ActionLink("Create New", "CreateTemplate")
<br/>
<br />
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Height
        </th>
        <th>
            Width
        </th>
        <th>
            Cells
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                <pre style="display: inline-block;">@Html.Encode(Html.DisplayFor(modelItem => item.Cells)).Replace('O', '\u2588').Replace('X', ' ')</pre>
            </td>
            <td>
                @Html.ActionLink("Create Active Game", "CreateActiveGameStep2", "UserGame", new { templateID = item.UserTemplateID }, null) |
                @Html.ActionLink("Details", "TemplateDetails", new { id = item.UserTemplateID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UserTemplateID })
            </td>
        </tr>
    }
</table>
