﻿@model IEnumerable<GameOfLife.Models.Database.UserTemplate>

@{
    ViewBag.Title = "All Templates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Templates</h2>
<hr />
    @if (Session["User"] == null)
    {
        @Html.ActionLink("Create New", "Login", "User")
    }
    else
    {
        @Html.ActionLink("Create New", "CreateTemplate", "UserTemplate")
    }


@using (Html.BeginForm("Templates", "UserTemplate", FormMethod.Get))
{
    <p>
        <label class="col-md-2 control-label" for="name" style="text-align: left;">Search for a Template:</label>
            <div class="col-md-3">
                <input class="form-control" id="name" name="name" type="text" value="">
            </div>
        <input class="btn btn-default" type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Created by
        </th>
        <th>
            Height
        </th>
        <th>
            Width
        </th>
        <th>
            Cells
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                <pre style="display: inline-block;">@Html.Encode(Html.DisplayFor(modelItem => item.Cells)).Replace('O', '\u2588').Replace('X', ' ')</pre>
            </td>
            <td>
                @Html.ActionLink("Create Active Game", "CreateActiveGameStep2", "UserGame", new { templateID = item.UserTemplateID }, null) |
                @Html.ActionLink("Details", "TemplateDetails", new { id = item.UserTemplateID })
            </td>
        </tr>
    }
</table>
