﻿@model GameOfLife.Models.Database.UserTemplate

@{
    ViewBag.Title = "Template Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Template Details</h2>
<hr />
<div>   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Created by
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cells)
        </dt>

        <dd>
            <pre style="display: inline-block;">@Html.Encode(Html.DisplayFor(model => model.Cells)).Replace('O', '\u2588').Replace('X', ' ')</pre>
        </dd>

    </dl>
</div>
<p>
    <input type="button" class="btn btn-primary btn-lg" value="Create Active Game &raquo;" onclick="location.href='@Url.Action("CreateActiveGameStep2", "UserGame", 
                                  new { templateID = Model.UserTemplateID })'" />
</p>
