﻿@model GameOfLife.Models.Database.UserGame

@{
    ViewBag.Title = "Create Active Game Step 1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Active Game - Step 1 of 2</h2>
<hr />
    <form action="/UserGame/CreateActiveGameStep2" method="get">

        <div class="form-horizontal">
            @*Code on lines 15 to 20 provided by Matthew Bolger.
            Accessed 12th August 2016.*@
            <div class="form-group">
                <label class="col-md-2 control-label" for="name" style="text-align:right;">Templates</label>
                <div class="col-md-10">
                    @Html.DropDownList("TemplateID", (IEnumerable<SelectListItem>)ViewBag.Templates,
                                       "---Please Select---", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Next Step" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
<div>
    @Html.ActionLink("Back to List", "MyActiveGames", "UserGame")
</div>
