﻿@model GameOfLife.Models.Database.UserTemplate

@{
    ViewBag.Title = "Create Active Game Step 2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Active Game - Step 2 of 2</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <div class="form-group">
            <label class="col-md-2 control-label" for="name" style="text-align:right;">Template</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="name" style="text-align:right;">Height</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Height)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="name" style="text-align:right;">Width</label>
            <div class="col-md-10">
               @Html.DisplayFor(model => model.Width)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="name" style="text-align:right;">Cells</label>
            <div class="col-md-10">
                <pre style="display: inline-block;">@Html.Encode(Html.DisplayFor(model => model.Cells)).Replace('O', '\u2588').Replace('X', ' ')</pre>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="name" style="text-align:right;">User ID</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserID, null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="name" style="text-align:right;">Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="name" style="text-align:right;">Height</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="name" style="text-align:right;">Width</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Width, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Width, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cells, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cells, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cells, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Templates", "UserTemplate")
</div>
