﻿@model IEnumerable<GameOfLife.Models.Database.UserGame>

@{
    ViewBag.Title = "My Active Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Active Games</h2>
@Html.ActionLink("Create New", "CreateActiveGameStep1", "UserGame")

@if (Session["ListOfUserGames"] != null)
{
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Height
            </th>
            <th>
                Width
            </th>
            <th>
                Cells
            </th>
            <th></th>
        </tr>

        @foreach (var sessionItem in (List<GameOfLife.Models.Database.UserGame>)@Session["ListOfUserGames"])
        {
            <tr>
                <td>
                    @sessionItem.Name
                </td>
                <td>
                    @sessionItem.Height
                </td>
                <td>
                    @sessionItem.Width
                </td>
                <td>
                    <pre style="display: inline-block;">@Html.Encode(@sessionItem.Cells).Replace('O', '\u2588').Replace('X', ' ')</pre>
                </td>
                <td>
                    @Html.ActionLink("Play Game", "PlayActiveGame", new { @sessionItem.Name }) |
                    @Html.ActionLink("Save Game", "SaveGame", new { @sessionItem.Name }) |
                    @Html.ActionLink("Delete", "DeleteGame", new { @sessionItem.Name })
                </td>
            </tr>
        }
    </table>
}
else
{
    <br />
    <br />
    <p>You have no active games...</p>
}
