﻿@model IEnumerable<GameOfLife.Models.Database.UserGame>

@{
    ViewBag.Title = "My Saved Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Saved Games</h2>
@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Height
            </th>
            <th>
                Width
            </th>
            <th>
                Cells
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Width)
                </td>
                <td>
                    <pre style="display: inline-block;">@Html.Encode(Html.DisplayFor(modelItem => item.Cells)).Replace('O', '\u2588').Replace('X', ' ')</pre>
                </td>
                <td>
                    @Html.ActionLink("Play Game", "PlayActiveGame", new { name = item.Name }) |
                    @Html.ActionLink("Delete", "DeleteSavedGame", new { id = item.UserGameID })
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>There are no saved games...</p>
}
