﻿@model GameOfLife.Models.Database.UserGame

@{
    ViewBag.Title = "Play Active Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Play Active Game</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Model.Name
        </dd>

        <dt>
            Height
        </dt>
        <dd>
            @Model.Height
        </dd>

        <dt>
            Width
        </dt>
        <dd>
            @Model.Width 
        </dd>

        <dt>
            Cells
        </dt>
        <dd>
            <pre style="display: inline-block;" id="cells">@Session["TheGameOfLife"]</pre>
        </dd>
        <dd>
            <button class="btn btn-primary btn-lg" id="playGame">Play Game</button> 
            <button class="btn btn-primary btn-lg" id="saveGame"
                onclick="location.href='@Url.Action("SaveGame", "UserGame", new { @Model.Name })'">Save Game</button>
            <button class="btn btn-primary btn-lg" id="deleteGame" 
                onclick="location.href='@Url.Action("DeleteGame", "UserGame", new { @Model.Name })'">Delete Game</button>           
            <br /><br />
            <button class="btn btn-primary btn-lg" id="stopGame" disabled>Stop Game</button>
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Back to List", "MyActiveGames")
</div>

@*Code on lines 57 to 94 provided by Matthew Bolger.
Accessed 16th August 2016.*@ 
<script>
    $(document).ready(function()
    {
        var playGameButton = $("#playGame");
        var saveGameButton = $("#saveGame");
        var deleteGameButton = $("#deleteGame");
        var stopGameButton = $("#stopGame");

        // ReSharper disable once InconsistentNaming
        var intervalID;

        playGameButton.click(function()
        {
            playGameButton.prop("disabled", true);
            saveGameButton.prop("disabled", true);
            deleteGameButton.prop("disabled", true);
            stopGameButton.prop("disabled", false);

            intervalID = setInterval(function()
            {
                $.post("@Url.Action("PlayGameTick")", function(data)
                {
                    $("#cells").html(data);
                });
            }, 1000);
        });

        $("#stopGame").click(function()
        {
            playGameButton.prop("disabled", false);
            saveGameButton.prop("disabled", false);
            deleteGameButton.prop("disabled", false);
            stopGameButton.prop("disabled", true);

            clearInterval(intervalID);
        });
    });
</script>
